<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

</style>

<div
      style="
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15);
        border-radius: 3px !important;
        width: 400px;
        background-color: #f1f1f1;
        height: 500px;
        overflow: hidden;
        bottom: 28px;
        position: fixed;
        right: 24px;
      "
    >
      <div
        style="
          background-color: black;
          color: white;
          width: 100%;
          height: 20px;
          padding: 10px 20px;
        "
      >
        Support from TekSoft1 Support
      </div>
      <div style="padding: 10px 20px">
        <div>Support is away</div>
        <a
          data-channel="email"
          href="mailto:support@teksoft1.com>"
          target="_parent"
          rel="noopener noreferrer"
        >
          <span><span>Continue on Email</span></span></a
        >
        <div>Any thing you want to ask?</div>
        <div class="tekchat-date-line">
          <span class="tekchat-date"> 2020 September 2rd </span>
        </div>
      </div>
    </div>



