<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-expansion-panel
  hideToggle="true"
  style="
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #f1f1f1;
    overflow: hidden;
    position: fixed;
  "
  [ngClass]="{
    'chat-panel-full': (isMobile$ | async),
    'chat-panel-fluid': !(isMobile$ | async),
    'chat-panel-open': panelOpenState === true,
    'chat-panel-close': panelOpenState === false
  }"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header style="width: 100%; background-color: #dedede">
    <mat-panel-title [ngStyle]="{ color: '#6d6d6d', width: '100%' }">
      <mat-icon *ngIf="panelOpenState === false">message</mat-icon>
      <div *ngIf="panelOpenState === true" fxLayout="row" fxFlexFill>
        <span>Support from TekSoft1</span>
        <mat-icon style="margin-left: auto">expand_less</mat-icon>
      </div>
    </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>
  <app-chat-container fxLayout="column"></app-chat-container>
</mat-expansion-panel>
