<div fxLayout="row">
  <div
    fxLayout="column"
    fxLayoutGap="10px"
    [ngClass]="{ 'incoming-message': type === 'incoming' ? true : false }"
  >
    <div
      fxLayout="row"
      fxLayoutGap="5px"
      [fxLayoutAlign]="type === 'incoming' ? 'flex-end' : 'flex-start'"
    >
      <img
        class="avatar"
        alt="image"
        src="https://source.unsplash.com/random/700x700?technology"
      />
      <div fxLayout="column" fxLayoutGap="5px">
        <h5 class="name">teksoft1</h5>
        <div class="time">10:20 AM</div>
      </div>
    </div>
    <div class="message-content">{{ content }}</div>
  </div>
  <div></div>
</div>
