<div fxLayout="row">
  <div
    fxLayout="column"
    fxLayoutGap="10px"
    [ngClass]="{ 'incoming-message': type === 'incoming' ? true : false }"
  >
    <div
      fxLayout="row"
      fxLayoutGap="5px"
      [fxLayoutAlign]="type === 'incoming' ? 'flex-end' : 'flex-start'"
    >
      <img
        *ngIf="!(senderId === me)"
        class="avatar"
        alt="image"
        src="https://source.unsplash.com/random/700x700?technology"
      />
      <div fxLayout="column" fxLayoutGap="5px">
        <h5 *ngIf="!(senderId === me)" class="name">{{ name }}</h5>
        <div class="time">{{ at.toDate() | date: "shortTime" }}</div>
      </div>
    </div>
    <div class="message-content">{{ content }}</div>
  </div>
  <div></div>
</div>
